<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Size to Size</title>
    {{ sd|json_script:"shoes_data" }}
    <script type="text/javascript">
        var brand

        function shoeSize() {
            var i = 220;
            var limitSize = 305;
            while(i < limitSize){
                document.write("<option name='shoes_size' value="+i+">"+i+"</option>")
                i += 5;
            }   
        } 
        
        function getBrand() {
            brand = document.getElementById("select_brand").value;
        }

        var shoes=JSON.parse(document.getElementById('shoes_data').textContent)

        function setBrand(){
            ks = Object.keys(shoes);
            sel_br = document.getElementById('select_brand');
            // console.log(ks.length);
            for(let i = 0; i < ks.length;i++){
                op = document.createElement("option");
                op.text = ks[i];
                op.value = ks[i];
                sel_br.options.add(op);
            }
        }
        function setModels(aa){
            idx = aa.selectedIndex;
            val = aa.options[idx].value;
            sel_md = document.getElementById('brand_model');
            n = sel_md.length
            for(let i = 0; i<n;i++){
                sel_md.remove(0);
            }

            for(let i = 0; i< shoes[val].length;i++){
                op = document.createElement("option");
                op.text = shoes[val][i];
                op.value = shoes[val][i];
                sel_md.options.add(op);
            }
        }

        window.onload=function()
        {
            setBrand();
            setModels(document.getElementById('select_brand'))
        };
    </script>
</head>
<body>
    <!-- 전체 화면 영역 -->
    <div calss="wrapper">
        <!-- Header : 로고, 프로필 -->
        <!-- <h2>Shoe Rack</h2> -->
        <div class="header">
            <div class="logo">
                <img src="" alt="logo" width="500" height="200">
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                <h4>Welcome {{user.get_username}}!
                <a href="{% url 'logout' %}">logouts</a></h4>
            </div>
        </div>
        <div class="main_container">
            <div class="shoeRack_add">
                <form action="{% url 'shoerack' %}" method="POST" name="Add">
                    {% csrf_token %}
                    <br>
                    <br>
                    <br>
                    <table>
                        <tr>
                            <th>Brand</th>
                            <th>Product</th>
                            <th>Size</th>
                            <th>&nbsp;</th>
                        </tr>
                        <tr>
                            <td>
                                <select id="select_brand" name="brand" onchange="setModels(this)">
                                    <!-- LineUP에서 brand 가져옴 -->
                                    <!-- {% for row in lineupAll %}
                                        <option value="{{row.LineUp_Brand}}" onchange="">{{row.LineUp_Brand}}</option>
                                    {% endfor %} -->
                                </select>
                            </td>
                            <td>
                                <select id="brand_model" name ='brand_model'>
                                    <!-- ShoesData에서 name 가져옴 -->
                                    <!-- {% for row in shoesdataAll %}
                                        <option value="{{row.Model_name}}">{{row.Model_name}}</option>
                                    {% endfor %} -->
                                </select>
                            </td>
                            <td>
                                <select name="size">
                                    <option value="" disabled selected>Choose your size</option>
                                    <script>
                                        shoeSize();
                                    </script>
                                </select>
                            </td>
                            <td>
                                <button class="button_Add" type="submit" name="run_Add">Add!</button>
                                <input type="hidden" name="user_id" value="{{user.id}}"/>
                            </td>
                        </tr>
                        
                    </table>
                </form>
                {% comment %} {% if error.state %}
                    <h2>{{error.msg}}</h2>
                {% endif %} {% endcomment %}
            </div>
            <div class="shoeRack_list">
                <br>
                <div class="tableList">
                    <table>
                        <tr>
                            <th>Brand</th>
                            <th>Product</th>
                            <th>Size</th>
                            <th>&nbsp;</th>
                        </tr>
                        {% csrf_token %}
                        {% for row in shoesdata %}
                        <tr>
                            {% comment %} <td>{{brand}}</td>
                            <td>{{row.Model_name}}</td> {% endcomment %}
                            <td>{{row.0.LineUp_Brand}}</td>
                            <td>{{row.2.ShoesExp_Shoe.Model_name}}</td>
                            <td>{{row.2.ShoesExp_Size}}</td>
                            <td>
                                <form action="{% url 'shoerack' %}" method="POST">
                                {% csrf_token %}
                                    <input action="{% url 'shoerack' %}"  value="Delete!" type="submit" name="run_Delete"/>
                                    <input type="hidden" name="shoesexp_user_pk" value="{{row.2.pk}}"/>
                                    <input type="hidden" name="user_id" value="{{user.id}}"/>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- {% if state %}
                    <h5>{{shoesexp_shoe}} {{shoesexp_size}}</h5>
                {% endif %} -->
                <br>
                <div class="buttonList">
                    <form action="{% url 'shoerack' %}" method="POST" name="Delete">
                    {% csrf_token %}
                        <button class="button_Delete" type="submit" name="run_AllDelete">All Delete!</button>
                        <input type="hidden" name="user_id" value="{{user.id}}"/>
                    </form>
                    <br>
                    <br>
                    <!-- <form action="{% url 'result' %}" method="GET" name="Measure">
                    {% csrf_token %}
                        <input type="hidden" name="user" value="{{user.id}}"/>
                        <input type="hidden" name="tgt" value="{{tgt}}"/>
                    </form> -->
                    <button class="button_Measure" type="submit" name="run_Measure" onclick="location.href = '{% url 'result' %}'">Measure!</button>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
<!--     
    <div class="test">
        <textarea id="names" style="visibility: hidden;">
            {% for row in shoesdataAll.all %}
                {{row.Model_name}},
            {% endfor %}
        </textarea>
    </div>
    <script>
        const shoesData = document.getElementById("names");
        alert(shoesData.textContent);
        var shoesDataList = [];
        var datas = shoesData.textContent.split(',');
        var i = 0;
        while(i < (datas.length-1)) {
            var data = datas[i].trim();
            shoesDataList.push(data);
            console.log(data);
            i++;
        };
        console.log(shoesDataList);
    </script> -->
</body>
</html>