body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    text-transform: uppercase;
    outline: 0;
    background: #444444;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

/* div {
    border: 1px solid red;
} */

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    max-width: 800px;
    min-width: 600px;
    min-height: 150px;
    width: 60%;
    height: 20%;
    
    display: flex;
    justify-content: center;
}

.main_container {
    max-width: 800px;
    min-width: 600px;
    min-height: 300px;
    width: 60%;
    height: 40%;
    padding: 0 0 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slidy {
    0% { left: 0%;}
    20% { left: 0%;}
    25% { left: 0%;}
    33% { left: -100%;}
    45% { left: -100%;}
    50% { left: -100%;}
    66% { left: -200%;}
    70% { left: -200%;}
    75% { left: -200%;}
    95% { left: -200%;}
    100% { left: -200%;}
}

.picture_container {
    width: 40%;
    max-width: 300px;
    margin: auto;
    overflow: hidden;

}

.picture_container figure img {
    width: 20%;
    float: left;
}

.picture_container figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slidy infinite; 
}

.log_in_container {
    width: 40%;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.validation_login {
    width: 100%;
    height: 40px;
    margin: 0 0 0 0;
}

.validation_login p {
    margin: 0;
    padding: 9px 0 0 15px;
    font-size: 0.9rem;
}

#user_id {
    outline: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #E7E7E7;
    margin: 0 0 0 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

#user_pw {
    outline: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #E7E7E7;
    margin: 0 0 0 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.log_in_container .message_signup {
    margin: 15px 0 0;
    color: #444444;
    font-size: 0.9rem;
}

.log_in_container #sign_up_open {
    color: #999999;
    text-decoration: none;
}

.button_login {
    display: inline;
}

.sign_up_modal_container {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_overlay  {
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.sign_up_contents  {
    background-color: white;
    min-width: 250px;
    padding: 30px 50px;
    text-align: center;
    position: relative;
    top: 0px;
    border-radius: 10px;
    width: 20%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6), 0 6px 6px rgba(0,0,0,0.23);
}

.sign_up_contents form input {
    margin: 0 0 10px;
    outline: 0;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #E7E7E7;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    cursor: pointer;
}

/* .sign_up_contents form div #new_user_gender {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
} */

.radio_check {
    padding: 0;
    width: 100%;
    height: 30px;
    margin: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.radio_check #male {
    margin-left: 14px;
}

.radio_check #female {
    margin-left: 20px;
}

.radio_check #maleLabel {
    margin: 0;
    width: 40px;
    height: 15px;
    cursor: pointer;
}

.radio_check #femaleLabel {
    margin: 0;
    width: 40px;
    height: 15px;
    cursor: pointer;
}

.hidden {
    display: none;
}

.footer {
    max-width: 800px;
    min-width: 600px;
    min-height: 50px;
    width: 60%;
    border-top: 1px solid #E7E7E7;

    display: flex;
    justify-content: center;
}

.footer p {
    color: #444444;
}